.Model-job-dic{
    
    background: #ffffff;
    box-shadow: 0px 0px 20px rgb(47 53 63 / 5%);
padding: 30px;
/* background-color: #b19066; */
width: 100%;

}

.Sort-job{
    background: rgba(112, 93, 70, 0.2);
    color: #705D46;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 40px;
    border-radius: 6px;
    width: 60px; 
}
.Left-bar{
    width: 100%;
    color: lightgray;
}
.Detail-jobs p{
    color: #898f9a;
}

.Detail-jobs h2 {
     width: 90%;

}
.Content-banner{
    display: flex;
    
}
.Job-button button{
    /* width: ; */
    background-color: #f5a337;
    border-color: #f5a337;
    color: aliceblue;
    padding: 13px 9px;
    border-radius: 8px;   
}
.Money-section i{
    background-color:   #C0C5CD;
    padding: 4px 8px;
    border-radius: 59px;
    color: white;
}
.Amount-money{
    display: flex;
}
.Detail-money{
    color: #f5a337;
    /* background-color: #898f9a; */
    /* height: 60px; */
    background-color: rgba(245, 163, 55, 0.1);
    /* padding: 0px 5px; */
     margin-left: 9%;
}
.Content-terms{
    background-color: #f9f9f9;
    border-radius: 6px;
    color: #898f9a;
    padding: 20px;
    margin: 20px 0;
}
